# Find MBTA Part 2
Here I will use pytesseract with config='--psm 6' kwarg, this method seems consistent

In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
import pandas as pd
from sodapy import Socrata
import numpy as np
import textract
import pytesseract
import tempfile #Probably won't use
import pdf2image
from PyPDF2 import PdfFileReader, PdfFileWriter
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [12]:
mbta_pdfObj = PdfFileReader("data/MBTA_pdfs/mbta-payroll-2017.pdf")

In [15]:
def page_to_image(pdfObj, page, path):
    little = PdfFileWriter()
    little.addPage(pdfObj.getPage(page))
    with open(path, 'wb') as out_pdf: mbta_2017_little.write(out_pdf)

In [ ]:
page_to_image(mbta_pdfObj, 0,"data/MBTA_pdfs/mbta_temp_page.pdf" )
images_from_path = pdf2image.convert_from_path("data/MBTA_pdfs/mbta_temp_page.pdf")

In [ ]:
row_list = pytesseract.image_to_string(images_from_path[0], config='--psm 6').split("\n")

In [20]:
row_list

['[Employee ID|LastName [FirstName [Title [Hire Date [Base Pay |Total 2017 Earnings |',
 '452912 Aalto Joanna AGM Capital Programs 03-Apr-16 $185,000.00 $28,461.55',
 '72929 Aaron Kevar Laborer, Track 21-Sep-15 $57,803.20 $72,800.63',
 '72021 Aaron Keyena Operator,P-T Surface 05-May-14 $47,548.80 $48,448.81',
 '68101 Abany Samuel Sergeant 10-Apr-06 $95,518.40 ($202,214.19',
 '68415 Abbit Cynthia Inspector 05-Sep-06 $83,304.00 $98,700.28',
 '9749 Abbott Kenneth Operator,Surface 03-Feb-92 $74,588.80 $85,631.68',
 '72103 Abbott Charles Operator,Surface 23-Jun-14 $63,398.40 $74,230.46',
 '73625 Abbott Corey Operator,P-T Surface 09-Jan-17 $30,763.20 $29,608.46',
 '451427 Abdelkarim Loay Mgr Design 27-Feb-12 $117,279.99 $116,354.38',
 '71810 Abdella Nasir Operator,Surface 06-Jan-14 $67,121.60 $73,542.99',
 '72734 Abdelouahhab Ali Operator,Surface 22-Jun-15 $63,398.40 $63,624.21',
 '67965 Abdelrahman Ashraf Supv Trans - Bus 11-Oct-05 ($91,312.90 ($89,721.43',
 '72691 Abderazzak Sammy Auditor, Field 01-Jun-15 $65,880.52 $64,723.80',
 'Supv Transm&Dist',
 '466160 Abdulakhatov Akmal Eng&Sfty 12-Feb-17 $111,152.29 | $94,330.77',
 '68620 Abdullahi Abdul-Hakim Trackperson 10-Oct-06 $71,552.00 $93,345.76',
 '69697 Abell Paul Worker,Sheet Metal 12-Aug-13 $96,553.60 ($108,503.17',
 '67679 Abernathy Sandra Motorperson,Rapid Transit 04-Apr-05 $77,563.20 $55,099.48',
 '69204 Abibi Abdelmalek Operator,Surface 10-Sep-07 $74,588.80 | $92,339.26',
 '66635 Abkarian Ropen Operator,Surface 15-Oct-02 $74,588.80 $15,562.41',
 '67420 Abraham Bernard Operator,Surface 07-Sep-04 $74,588.80 $110,055.70',
 '369115 Abrahamson Daniel Spec,Energy Conservation 06-Jun-16 $71,370.43 $70,117.26',
 '73316 Abramo Michael Chief Financial Officer 06-Jun-16 $210,000.00 $186,635.50',
 '67817 Abreu Estarlo Operator,Surface 11-Jul-05 $74,588.80 $87,679.32',
 '71537 Abreu Yris Operator,Surface 20-May-13 $74,588.80 $58,391.87',
 '73503 Abujade Olalekan Operator,P-T Surface 06-Sep-16 $41,964.00 $41,757.36',
 '477676 Acchat Kerby Operator,P-T Surface 19-Nov-17 |$30,763.20 | $2,200.00',
 '71941 Accime Susie Operator,Surface 24-Feb-14 $67,121.60 $97,051.46',
 '67909 Acevedo Tyrone Repairer,Rail 03-Oct-05 $86,715.20 $129,078.87',
 '72828 Acharya Hom Operator,Surface 20-Jul-15 $55,952.00 $44,999.50',
 '92047 Adams Lee Worker,Sheet Metal 22-Aug-00 $96,553.60 $144,456.73',
 '7796 Adams Edward Inspector,Chief - SL 13-Feb-84 $87,214.40 $130,845.02',
 '67527 Adams Jeffrey Repairer,Rail 13-Dec-04 |$86,715.20 ($119,303.28',
 '66003 Adams Sheila Dispatcher,Bus 09-Jul-17 $92,934.40 $117,796.60',
 '2669 Adams Eugenia Dispatcher,RTL 09-Jul-17 $95,264.00 $98,356.74',
 '1897 Adams Jalila Instructor 25-Nov-96 $93,288.00 $97,215.04']

In [23]:
def get_pay(row_list):
    total_pay = 0
    total_cop_pay = 0
    for row in row_list:
        if "$" in row:
            pay = float(row.split("$")[-1].replace(",",""))
            total_pay += pay
            if "Police" in row:
                    total_cop_pay += pay
    return total_pay, total_cop_pay

total pay is 3043183.97
total cop pay is 0
average pay per employee on page 1  82248.21540540541

In [28]:
import MBTA_Payroll_Scraper

In [30]:
total_pay, cop_pay = MBTA_Payroll_Scraper.scrape_payroll_2017()

In [32]:
print("total pay:", total_pay)
print("cop pay: ", cop_pay)

total pay: 553203776.62
cop pay:  22662116.389999997

In [33]:
scraper_2017_dict = {"total pay": total_pay, "cop pay": cop_pay}

In [35]:
import json

In [36]:
with open('data/MBTA_pdfs/Payroll_2017_Result_Jul21.json', 'w') as out:
    json.dump(scraper_2017_dict, out)

In [38]:
import os

In [40]:
os.path.exists("data/MBTA_pdfs/Payroll_2017_Result_Jul21.json")

True

In [41]:
with open('data/MBTA_pdfs/Payroll_2017_Result_Jul21.json') as json_file:
    scraper_dict = json.load(json_file)
scraper_dict

{'total pay': 553203776.62, 'cop pay': 22662116.389999997}