# Check Agency Corrections
Don't really need a jupyter notebook for this step but will have one anyways

## Set up environment

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import os
import sys
import numpy as np
from sodapy import Socrata

In [11]:
sys.path.insert(0, os.path.abspath("../.."))

## Check Trial Court

### Fraction criminal
First check each number. Looks good.
Re-do math for 2017 by hand

In [12]:
TRC_2017_criminal_cases = 297502
TRC_2017_total_cases = 887207

In [23]:
TRC_fraction_criminal_handcalc = TRC_2017_criminal_cases/TRC_2017_total_cases

In [24]:
from Agency_Corrections import trial_court_pcnt_criminal

In [25]:
TRC_pct_criminal = trial_court_pcnt_criminal()

In [26]:
assert np.isclose(TRC_fraction_criminal_handcalc, TRC_pct_criminal.loc[2017])

### Fraction criminal in suffolk county
First re-check each number

In [16]:
from Agency_Corrections import trial_court_suffolk

In [17]:
trial_court_fraction_official, _ = trial_court_suffolk()

In [18]:
TRC_2017_BMC = 22447
TRC_2017_district_chelsea =  3383
TRC_2017_superior_suff = 747
TRC_2017_juvenile_suff = 963 + 38
TRC_2017_criminal_cases_statewide = 197900

In [19]:
fraction_suff =  (TRC_2017_BMC + \
                  TRC_2017_district_chelsea + \
                  TRC_2017_superior_suff + \
                  TRC_2017_juvenile_suff)/ \
                  TRC_2017_criminal_cases_statewide

In [20]:
assert np.isclose(fraction_suff, trial_court_fraction_official.loc[2017])

Check the final correction

In [21]:
from Agency_Corrections import trial_court_correction

In [22]:
TRC_correction = trial_court_correction(1)
TRC_correction

2016    0.048982
2017    0.046729
2018    0.050980
2019    0.054146
dtype: float64

In [29]:
assert TRC_fraction_criminal_handcalc*fraction_suff == TRC_correction.loc[2017]

Have to talk to Bobby about triple checking this

## Check Appeals Court

Appeals court uses the same fraction of cases in suffolk and different fraction of cases that are criminal

In [33]:
from Agency_Corrections import appeals_court_correction

In [34]:
appeals_court_criminal = 734
appeals_court_total = 1443

In [35]:
appeals_court_fraction_criminal = appeals_court_criminal/appeals_court_total

In [36]:
appeals_court_official = appeals_court_correction(1)

In [38]:
assert appeals_court_fraction_criminal*fraction_suff == appeals_court_official.loc[2017]

True

## Check DOC
First check all numbers by hand. Look Good
Then check 2019

### Fraction Criminal

In [39]:
from Agency_Corrections import DOC_pcnt_criminal

In [40]:
DOC_pcnt_criminal_official = DOC_pcnt_criminal()

In [78]:
DOC_civil_Q3_2018 = 551
DOC_total_Q3_2018 = 9032
DOC_civil_Q4_2018 = 489
DOC_total_Q4_2018 = 8855
DOC_civil_Q1_2019 = 499
DOC_total_Q1_2019 = 8807
DOC_civil_Q2_2019 = 567
DOC_total_Q2_2019 = 8800

In [79]:
fraction_criminal_handcalc = 1 - (DOC_civil_Q3_2018 +\
                                  DOC_civil_Q4_2018 +\
                                  DOC_civil_Q1_2019 +\
                                  DOC_civil_Q2_2019) / (DOC_total_Q3_2018 +\
                                                       DOC_total_Q4_2018 +\
                                                       DOC_total_Q1_2019 +\
                                                       DOC_total_Q2_2019)

In [80]:
fraction_criminal_handcalc

0.9406660280610808

In [81]:
DOC_pcnt_criminal_official.loc[2019] == fraction_criminal_handcalc

True

### Fraction Suffolk

In [53]:
from Agency_Corrections import DOC_pcnt_suffolk

In [60]:
DOC_pcnt_suff_official = DOC_pcnt_suffolk()

got to year 2016
previous is

                2015 Q3  2015 Q4
Suffolk Admits     50.0     81.0
Total Admits      391.0    437.0

current is

                2016 Q1  2016 Q2
Suffolk Admits     72.0     79.0
Total Admits      439.0    416.0

summed is Suffolk Admits     282.0
Total Admits      1683.0
dtype: float64

Suffolk Admits     282.0
Total Admits      1683.0
dtype: float64

got to year 2017
previous is

                2016 Q3  2016 Q4
Suffolk Admits     41.0     74.0
Total Admits      385.0    387.0

current is

                2017 Q1  2017 Q2
Suffolk Admits     71.0     83.0
Total Admits      500.0    440.0

summed is Suffolk Admits     269.0
Total Admits      1712.0
dtype: float64

Suffolk Admits     269.0
Total Admits      1712.0
dtype: float64

got to year 2018
previous is

                2017 Q3  2017 Q4
Suffolk Admits     61.0     77.0
Total Admits      372.0    426.0

current is

                2018 Q1  2018 Q2
Suffolk Admits     83.0     84.0
Total Admits      437.0    433.0

summed is Suffolk Admits     305.0
Total Admits      1668.0
dtype: float64

Suffolk Admits     305.0
Total Admits      1668.0
dtype: float64

got to year 2019
previous is

                2018 Q3  2018 Q4
Suffolk Admits     72.0     76.0
Total Admits      359.0    384.0

current is

                2019 Q1  2019 Q2
Suffolk Admits     70.0     90.0
Total Admits      431.0    433.0

summed is Suffolk Admits     308.0
Total Admits      1607.0
dtype: float64

Suffolk Admits     308.0
Total Admits      1607.0
dtype: float64

In [62]:
DOC_suff_Q3_2018 = 72
DOC_total_Q3_2018 = 359 
DOC_suff_Q4_2018 = 76
DOC_total_Q4_2018 = 384
DOC_suff_Q1_2019 = 70
DOC_total_Q1_2019 = 431
DOC_suff_Q2_2019 = 90
DOC_total_Q2_2019 = 433

In [72]:
fraction_suff_handcalc = (DOC_suff_Q3_2018 + \
                          DOC_suff_Q4_2018 + \
                          DOC_suff_Q1_2019 + \
                          DOC_suff_Q2_2019) /(DOC_total_Q3_2018 + \
                           DOC_total_Q4_2018 + \
                           DOC_total_Q1_2019 + \
                           DOC_total_Q2_2019)

In [73]:
fraction_suff_handcalc

0.19166148102053515

In [74]:
fraction_suff_handcalc == DOC_pcnt_suff_official.loc[2019]

True

Check that final correction is correct

In [86]:
from Agency_Corrections import DOC_correction

In [87]:
DOC_correction_official = DOC_correction(1)
assert fraction_criminal_handcalc*fraction_suff_handcalc == DOC_correction_official.loc[2019]

Ok great that's all done

# Check population correction
Should be easy. Double check each number first. That looks good
Check 2018

In [118]:
from Agency_Corrections import population_correction

In [119]:
pop_correction_official = population_correction(1)

In [124]:
suff_pop_2017 = 780685
suff_pop_2018 = 791766

MA_pop_2017 = 6789319
MA_pop_2018 = 6830193

In [125]:
pop_correction_FY_2018_handcalc = np.mean([suff_pop_2017/MA_pop_2017, 
                                           suff_pop_2018/MA_pop_2018])

In [126]:
pop_correction_FY_2018_handcalc

0.11545435012794944

In [128]:
assert pop_correction_official.loc[2018] == pop_correction_FY_2018_handcalc

True

Ok think I'm done checking math once I get Bobby's feedback on fraction of criminal cases in Suffolkf County.