# Total Costs by Type
As of August 20th, each agency has the following 4 attributes: operating costs, pensions, fringe benefits, and capital expenditures. I'll call these cost "types" for this notebook. This notebook will take the total amount of money spent on each type and then maybe the total money spent on each by category (courts, jails, cops).

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import sys
import os
import warnings
warnings.filterwarnings('ignore')
sys.path.insert(0, os.path.abspath('../..'))
import Agency_Classes
from Total_Costs_by_Type_1Ver import by_type

In [3]:
yr=list(range(2016,2020))
from Initialize_Agencies_2Ver import get_agencies
agencies = get_agencies(yr)

Note: corrections for Supreme Judicial Court, Appeals Court not finished yet. Currently using trial court correction

In [26]:
overall, by_agency = by_type(agencies)

got to  trial_court
got to  CPCS
got to  DOC
got to  Suffolk_DA
got to  Suffolk_Sheriff
got to  State_Police
got to  MBTA
got to  DAA
got to  MA Sheriff's Association
got to  Parole_Board
got to  CJT
got to  Supreme_Judicial_Court
got to  Appeals_Court
got to  Boston PD
got to  Chelsea PD
got to  Revere PD
got to  Winthrop PD

In [29]:
overall

                         2016          2017          2018          2019
Operating Costs 769490695.026 775955065.355 839989631.316 860974103.104
Pension Costs   126500150.833 129219592.817 149292966.643 160839313.435
Fringe Benefits 163200785.930 163066970.647 164028936.012 162967094.232
Capital Costs    27496445.618  27197661.351  26161660.556  27869459.214