# Calculate Hidden Costs
On Sep 29th I decided to go back and calculate what % of the total cost of the carceral state over the 4 year period is "hidden." Hidden costs are defined as all pension costs, all fringe benefit costs, all capital costs, and payroll costs for Boston and Chelsea that exceed the payroll costs listed in the city budget documents

In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
import sys
import os
if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")
import seaborn as sns
sns.set(rc={"figure.figsize": (20, 18), "lines.linewidth": 5})
sns.set_style("darkgrid")

In [23]:
sys.path.insert(0, "/Users/alexanderweinstein/Documents/Harris/Summer2020/Carceral_Budgeting/Exploratory/"
                   "visualize/Total_Costs/Total_Costs_by_Type")
from Total_Costs_by_Type_2Ver import by_type
# from Full_Project_Reportback_1Ver import plot_over_time

In [7]:
sys.path.insert(0, os.path.abspath('../../..'))
yr = list(range(2016,2020))
from Initialize_Agencies_2Ver import get_agencies
agencies = get_agencies(yr)

## Find hidden costs of Boston Payroll

In [9]:
BPD = agencies["Boston PD"]
BPD.budget_summary

,2016,2017,2018,2019,2020,2021
Payroll Budget,297299985.000,325090384.000,340550136.677,364655518.158,376094339.676,378944425.091
OT Budget,35619489.000,54966556.000,57076768.867,60115115.432,61415244.222,61500643.365
Total Budget,334810043.000,366418564.000,380087096.177,407114254.631,420864667.757,421589850.442
Payroll Appropriation,301839026.000,331053719.245,353648386.370,366234564.173,376709076.481,0.000
OT Appropriation,37966592.000,55969576.695,59235426.538,60319549.828,62014215.824,0.000
Total Appropriation,339300263.000,370044034.075,397129439.648,408288547.121,422530491.594,0.000
Payroll Expenditures,322000476.071,335073541.833,360633372.807,374141609.986,0.000,0.000
OT Expenditures,57790620.075,60618685.866,68313585.252,70204917.968,0.000,0.000
Total Expenditures,354100737.000,372407936.000,407607260.000,422895141.000,0.000,0.000

In [10]:
BPD.payroll_expenditures_by_year

year
2016   388587231.110
2017   391277619.770
2018   416682999.940
2019   415725606.800
Name: TOTAL EARNINGS, dtype: float64

In [11]:
BPD.budget_summary.loc["Total Expenditures",2016] - BPD.budget_summary.loc["Payroll Expenditures", 2016]

32100260.929409146

In [14]:
BPD.payroll_expenditures_by_year.sum() - BPD.budget_summary.loc["Payroll Expenditures", yr].sum()

220424456.92321968

In [45]:
BPD_payroll_hidden = BPD.payroll_expenditures_by_year.sum()- BPD.budget_summary.loc["Payroll Expenditures", yr].sum()

In [21]:
chelsea_PD = agencies["Chelsea PD"]
chelsea_payroll_hidden = chelsea_PD.payroll_expenditures_by_year.sum() -\
    chelsea_PD.budget_summary.loc["Payroll Expenditures", yr].sum()

In [22]:
chelsea_payroll_hidden

18355301.929999366

## Find hidden costs from other cost types

In [24]:
costs_by_type = by_type()

In [36]:
costs_type_df = costs_by_type[0]
costs_type_df

,2016,2017,2018,2019
Payroll Costs,660001752.864,664549367.353,712154086.355,728443068.831
Non-Payroll Operating Costs,88304855.524,91878587.807,107122037.863,111393865.531
Pension Costs,121915760.684,124391555.910,144119815.767,155129360.305
Fringe Benefit Costs,155399226.099,155316497.184,157110857.521,156302165.648
Capital Costs,10720759.816,12969043.598,23474217.813,13032612.028

In [43]:
hidden_types = costs_type_df.loc[["Pension Costs", "Fringe Benefit Costs", "Capital Costs"]].sum().sum()

In [47]:
(hidden_types + BPD_payroll_hidden + chelsea_payroll_hidden)/costs_type_df.sum().sum()

0.33426309768590734

In [49]:
hidden_types

1229881872.3722124

In [51]:
(hidden_types + BPD_payroll_hidden + chelsea_payroll_hidden)

1468661631.2254314

In [50]:
costs_type_df.sum().sum()

4393729494.499778