I know there are capital costs for BostonPD I already include, I will make sure I've moved those to correct attribute and then look for capital costs for the other police departments

In [1]:
%load_ext autoreload
%autoreload 2

In [8]:
import pandas as pd
import sys
import os
import warnings
warnings.filterwarnings('ignore')
sys.path.insert(0, os.path.abspath('../'))
from Agency_Classes import BostonPD, ChelseaPD, WinthropPD

In [3]:
boston = BostonPD()

got to update capital expenditures for year 2016
dollar amounts are  [5018519, 748832, 2780000, 11460000]
got to update capital expenditures for year 2017
dollar amounts are  [748832, 688151, 11460000, 15939366]
got to update capital expenditures for year 2020
dollar amounts are  [7909564, 18625711, 24690000, 9982917]
got to update capital expenditures for year 2021
dollar amounts are  [18625711, 8502943, 9982917, 22376371]
got to update capital expenditures for year 2018
dollar amounts are  [688151, 5441996, 15939366, 18684860]
got to update capital expenditures for year 2019
dollar amounts are  [5441996, 7909564, 18684860, 24690000, 222]

In [5]:
boston.capital_expenditures

2016     5441996
2017     7909564
2018    18625711
2019     8502943
2020           0
2021           0
2014      748832
2015      688151
dtype: int64

In [43]:
boston.budget_summary

,2016,2017,2018,2019,2020,2021
Payroll Budget,297299985.000,325090384.000,340550136.677,364655518.158,376094339.676,378944425.091
OT Budget,35619489.000,54966556.000,57076768.867,60115115.432,61415244.222,61500643.365
Total Budget,334810043.000,366418564.000,380087096.177,407114254.631,420864667.757,421589850.442
Payroll Appropriation,301839026.000,331053719.245,353648386.370,366234564.173,376709076.481,0.000
OT Appropriation,37966592.000,55969576.695,59235426.538,60319549.828,62014215.824,0.000
Total Appropriation,339300263.000,370044034.075,397129439.648,408288547.121,422530491.594,0.000
Payroll Expenditures,322000476.071,335073541.833,360633372.807,374141609.986,0.000,0.000
OT Expenditures,57790620.075,60618685.866,68313585.252,70204917.968,0.000,0.000
Total Expenditures,354100737.000,372407936.000,407607260.000,422895141.000,0.000,0.000
True Payroll,388587231.110,391277619.770,416682999.940,415725606.800,nan,nan
Non-Payroll Expenditures,32100260.929,37334394.167,46973887.193,48753531.014,nan,nan
Final Yearly Operating Cost,420687492.039,428612013.937,463656887.133,464479137.814,nan,nan
Final Expenditures,553699511.239,565350376.179,616899996.294,622862807.934,nan,nan

In [44]:
359542733- 354100737

5441996

In [48]:
chelsea = ChelseaPD()

Capital budget dollar amounts found for 2020 [173000.0, 164000.0, 164000.0, 30000.0, 30000.0]
dollar amounts passed as payroll [9551598.59, 9923457.54, 11526261.8, 11583404.0, 11569857.0, 121052.0]

In [49]:
chelsea.capital_expenditures

2016    173000
2017    164000
2018    161438
2019         0
2020         0
dtype: int64

In [59]:
from ReverePD_Capital_Costs import get_ReverePD_Capital_Costs

In [61]:
get_ReverePD_Capital_Costs()

data is

                              2016     2017     2018   2019
ReverePD Projects       102859.340   104200   101950  50000
Public Safety Projects 1292643.740  1294156  1082010      0

correction is  2016   0.476
2017   0.462
2018   0.461
2019   0.000
dtype: float64

2016   718325.118
2017   702314.249
2018   601210.529
2019    50000.000
dtype: object