Final goal is to write a get_final_costs() method for winthrop

In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import sys
sys.path.insert(0, os.path.abspath(".."))
from Agency_Classes import ReverePD, WinthropPD

In [4]:
revere = ReverePD()

Revere Benefits are

2016   6401873.418
2017   6569579.826
2018   6923293.726
2019   7895549.663
dtype: object

In [5]:
revere.PD_fraction

2016   0.333
2017   0.337
2018   0.335
2019   0.349
dtype: object

In [7]:
winthrop = WinthropPD(revere.PD_fraction)

In [9]:
winthrop.budget_summary

,2016,2017,2018,2019,2020,2021
Payroll Recommended,2736819.000,3131833.000,0.000,3260064.000,0.000,3424927.000
OT Recommended,283250.000,279824.000,0.000,290000.000,0.000,327000.000
Total Recommended,2920019.000,3409299.000,0.000,3507071.000,0.000,3676393.000
Payroll Budget,2768693.000,0.000,3225884.000,0.000,3396466.000,0.000
OT Budget,283250.000,0.000,290000.000,0.000,320000.000,0.000
Total Budget,2951893.000,0.000,3500840.000,0.000,3639987.000,0.000
Payroll Expenditures,2842909.000,2927191.000,3225884.000,3803402.000,0.000,0.000
OT Expenditures,248260.000,376497.000,0.000,319375.000,0.000,0.000
Total Expenditures,3037686.000,3191416.000,0.000,4036935.000,0.000,0.000

In [10]:
winthrop.pension

2016   912028.782
2017   702707.081
2018   745260.916
2019   778578.451
dtype: object

In [11]:
winthrop.benefits

2016    794997.427
2017   1188270.591
2018   1108502.513
2019   1160070.335
dtype: object

In [16]:
final = winthrop.budget_summary.loc["Total Expenditures", list(range(2016,2020))]
final.loc[2018] = winthrop.budget_summary.loc["Total Budget", 2018]

In [20]:
final + winthrop.benefits +winthrop.pension

2016   4744712.210
2017   5082393.671
2018   5354603.430
2019   5975583.786
dtype: object

2016   1912028.782
2017   1702707.081
2018   1745260.916
2019   1778578.451
dtype: object