# CPCS Payroll Analysis
The CPCS is a peculiar agency in that most of it's labor costs aren't paid through payroll but rather expenditures to private attorneys that aren't captured in the payroll datasets. We are making an exception to our methodology to include these "contractors" as payroll. CPCS isn't the only agency we look at that has labor costs beyond their stated payroll, we only make an exception in our methodology for this agency as these contractors are such a significant cost# Debug Calendar Year Correction

In [25]:
%load_ext autoreload
%autoreload 2

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/Users/alexanderweinstein/Documents/Harris/Summer2020/Carceral_Budgeting/Exploratory/pensions/State_Pensions_2Ver.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cthru_pensions["year"] = cthru_pensions["year"].astype(int)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

/opt/anaconda3/lib/python3.7/importlib/__init__.py:169: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  _bootstrap._exec(spec, module)

In [26]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import os
import sys

In [27]:
sys.path.insert(0, os.path.abspath("../"))

In [28]:
from Initialize_Agencies_3Ver import get_agencies

In [30]:
yr = list(range(2016,2020))
agencies = get_agencies(yr)

raw data:

,2015 Q3,2015 Q4,2016 Q1,2016 Q2,2016 Q3,2016 Q4,2017 Q1,2017 Q2,2017 Q3,2017 Q4,2018 Q1,2018 Q2,2018 Q3,2018 Q4,2019 Q1,2019 Q2,2019 Q3
Suffolk Admits,50.000,81.000,72.000,79.000,41.000,74.000,71.000,83.000,61.000,77.000,83.000,84.000,72.000,76.000,70.000,90.000,64.000
Total Admits,391.000,437.000,439.000,416.000,385.000,387.000,500.000,440.000,372.000,426.000,437.000,433.000,359.000,384.000,431.000,433.000,364.000

correction by FY:

2016   0.168
2017   0.157
2018   0.183
2019   0.192
dtype: float64

/Users/alexanderweinstein/Documents/Harris/Summer2020/Carceral_Budgeting/Exploratory/Agency_Classes_2Ver.py:162: DtypeWarning: Columns (15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  self.get_expenditures_by_year()

raw data:

,2015 Q3,2015 Q4,2016 Q1,2016 Q2,2016 Q3,2016 Q4,2017 Q1,2017 Q2,2017 Q3,2017 Q4,2018 Q1,2018 Q2,2018 Q3,2018 Q4,2019 Q1,2019 Q2,2019 Q3
Suffolk Admits,50.000,81.000,72.000,79.000,41.000,74.000,71.000,83.000,61.000,77.000,83.000,84.000,72.000,76.000,70.000,90.000,64.000
Total Admits,391.000,437.000,439.000,416.000,385.000,387.000,500.000,440.000,372.000,426.000,437.000,433.000,359.000,384.000,431.000,433.000,364.000

correction by FY:

2016   0.168
2017   0.157
2018   0.183
2019   0.192
dtype: float64

## Look at CPCS expenditures

In [20]:
CPCS = agencies["CPCS"]

In [21]:
CPCS.expenditures.groupby(["object_class"]).sum()["amount"].sort_values(ascending=False)

object_class
(AA) REGULAR EMPLOYEE COMPENSATION    239774416.800
(GG) ENERGY COSTS AND SPACE RENTAL     27959809.580
(UU) IT NON-PAYROLL EXPENSES           13912081.100
(EE) ADMINISTRATIVE EXPENSES            6197441.970
(MM) PURCHASED CLIENT/PROGRAM SVCS      5135086.550
(BB) REGULAR EMPLOYEE RELATED EXPEN     4647457.670
(JJ) OPERATIONAL SERVICES               3118537.650
(KK) EQUIPMENT PURCHASE                 2026091.100
(LL) EQUIPMENT LEASE-MAINTAIN/REPAR     1208618.680
(NN) INFRASTRUCTURE:                     983963.780
(HH) CONSULTANT SVCS (TO DEPTS)          725720.690
(CC) SPECIAL EMPLOYEES                   259775.290
(FF) FACILITY OPERATIONAL EXPENSES       172105.900
(TT) LOANS AND SPECIAL PAYMENTS           15054.020
(99) PAYROLL REJECTS                       1224.000
Name: amount, dtype: float64

In [22]:
CPCS.expenditures.groupby("object_code").sum()["amount"].sort_values(ascending=False)

object_code
(A01) SALARIES: INCLUSIVE                                            237402623.230
(G01) SPACE RENTAL                                                    27577794.270
(M10) NON-HUMAN SERVICE COOPERATION FUNDING CONTRACTS                  5135086.550
(U11) INFORMATION TECHNOLOGY (IT) CONTRACT SERVICES                    4659335.660
(B02) IN-STATE TRAVEL                                                  3488099.960
                                                                          ...
(A06) STAND-BY PAY                                                         576.900
(N52) FACILITY INFRASTRUCTURE MAINTENANCE & REPAIR TOOLS & SUPPLIE         329.230
(F16) LIBRARY & TEACHING SUPPLIES & MATERIALS                              239.800
(F05) LABORATORY SUPPLIES                                                  162.020
(K06) PRINTING, PHOTOCOPYING, & MICROGRAPHICS EQUIPMENT                     84.990
Name: amount, Length: 73, dtype: float64

In [23]:
CPCS.payroll_by_year

budget_fiscal_year
2016   203113266.035
2017   219228501.670
2018   219057567.460
2019   231508253.240
Name: amount, dtype: float64

In [24]:
object_class_RR.groupby("budget_fiscal_year").sum()["amount"].sort_values(ascending=False) + CPCS.payroll_by_year

NameError: name 'object_class_RR' is not defined

## Side adventure: do other agencies have this RR Benefits object class?

answer: no